<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://112.126.73.50:8100/images/mobileoa.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://mobileoa.oss-cn-beijing.aliyuncs.com/mobileoa-sjoa-v1.14.9.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>cn.gov.cma.mobileoa</string>
				<key>bundle-version</key>
				<string>v1.14.9</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>移动办公</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
